
hr {
    margin-top: 1.6rem;
    background-color: rgb(241, 239, 239);
    margin-left: -5rem;
    border: 0.5px solid rgb(223, 222, 222);
    box-shadow: none;
  }
  
  .form-fill-two {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    height: 90vh;
    line-height: 2.5;
    margin-top: 1rem;
  }
  .form-control-two {
    display: flex;
    flex-direction: column;
    outline: none;
    width: 36rem;
    height: 28px;
    border: 1px solid rgb(223, 222, 222);
    margin-left: 11.3rem;
    margin-top: -2rem;
    border-radius: 1px;
    margin-bottom: 0.7rem;
  }
  .form-control-two:focus {border: 1px solid #4d90fe;
    box-shadow:0px 2px 3px 0px lightgray inset
  }
  .blue-search {display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 11.5rem;
  text-align: center;
  
  }
  .blue {
    background-color: #4d90fe;
    color: #fff;
    border: 1px solid #3079ed;
    height: 30px;
    font-weight: bold;
    margin-top: 1rem;
  }
  .blue:hover {border: 1px solid #2f5bb7;
  background-color: #498dfb;}
  