body {font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333 ;
    margin-left: 2.8rem;
    margin-right: 7rem;
    }
    h1 {
        margin-top: 3rem;
        font-size: 20px;
        color: #d93025;
        font-weight: lighter;
      }
      h2 {
        font-size: 16px;
        font-weight: 500;
        margin-top: 3rem;
      }
    .link {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: right;
    }
    a {text-decoration: none;
    color: rgb(62, 62, 62);}
    .image {
        margin-right: 2rem;
      }
      .form-fill {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: left;
          height: 90vh;
      }
      .form-control {
        width: 580px;
        height: 42px;
        border: 1px solid rgb(223, 222, 222);
        outline: none;
        border-radius: 25px;
        padding-left: 2rem;
        box-sizing: border-box;
      }
    .form-control:hover {box-shadow: 0 0 5px rgb(211, 210, 210);
        border: none;
    }
    .search-btn {
        
        margin-top: 1.4rem;
    }
    .btn {
        margin: 0.4rem;
        background-color: #f8f9fa;
        border: 1px solid #f8f9fa;
        border-radius: 4px;
        color: #3c4043;
        font-family: arial,sans-serif;
        font-size: 14px;
        padding: 0 16px;
        line-height: 27px;
        height: 36px;
        min-width: 54px;
        text-align: center;
        cursor: pointer;
    }
    .btn:hover {box-shadow: 0 1px 0 0 #e8e8e8 ;
    border: 0.01px solid #dadce0;}
    